.App {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  margin-top: 100px;
  width: 300px;
  border: 3px solid black;
  height: 400px;
}

input {
  display: block;
  margin-top: 70px;
  margin-left: 37px;
  margin-right: auto;
}

.search-bar {
  display: flex;
  gap: 1px;
}

button {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  width: 40px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 30px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}